{% extends 'auctions/layout.html' %}

{% block body %}

<h1>{{ listing.listing_title }}</h1>
  {% if listing.listing_image_url == None %}
    <img src="https://www.freeiconspng.com/uploads/no-image-icon-6.png" style="width: 350px; height: 200px; align-items: center;" class="card-img-top img-fluid" alt="">
  {% else %}
    <img src="{{ listing.listing_image_url }}" style="width: 350px; height: 200px; align-items: center;" class="card-img-top img-fluid" alt="">
  {% endif %}
<p>{{ listing.listing_description }}</p>
    {% if listing.listing_current_price < listing.listing_starting_price or listing.listing_current_price == None %}
        <p>{{ listing.listing_starting_price }}</p>
    {% else %}
        <p>{{ listing.listing_current_price }}</p>
    {% endif %}
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}
    {% if user.is_authenticated %}
      {% if listing_id not in user_watchlist_ids %}
          <a href="{% url 'watchlist_btn' listing_id %}">Add to Watchlist</a>
      {% else %}
          <p>This listing is already in your watchlist.</p>
      {% endif %}
    {% else %}
          <h3><a href="{% url 'login' %}">Sign in to make a bid</a></h3>
    {% endif %}
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'place_bid' listing.id %}">
          {% csrf_token %}
            <label for="id_buyer_bid">Your Bid:</label>
            <input type="number" name="buyer_bid" id="id_buyer_bid" step="0.01" required>
            <button type="submit">Place Bid</button>
        </form>
    {% else %}
        <h3><a href="{% url 'login' %}">Sign in to make a bid</a></h3>
    {% endif %}


{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<!-- Display existing bids if needed -->
<h3>Existing Bids:</h3>
  {% if bids %}
      <h5>Total Bids: {{ bids.count }}</h5>
  {% else %}
      <h5>No Bids Yet</h5>
  {% endif %}
<ul>
    {% for bid in bids reversed %}
        <li>{{ bid.user.username }} - ${{ bid.buyer_bid }} - Bid Made at {{ bid.created_at }}</li>
    {% endfor %}
</ul>


{% endblock %}