{% extends 'auctions/layout.html' %}


{% block body %}
<div class="container-fluid text-center mx-auto">
  <div class="row">
    <h1 class="col"><u>{{ listing.listing_title }}</u></h1>
  </div>
  <div class="col mt-5 mx-auto text-center content">
    {% if listing.listing_image_url == None %}
      <img src="https://www.freeiconspng.com/uploads/no-image-icon-6.png" style="width: 350px; height: 200px; align-items: center;" class="card-img-top img-fluid" alt="">
    {% else %}
      <img src="{{ listing.listing_image_url }}" style="width: 350px; height: 200px; align-items: center;" class="card-img-top img-fluid" alt="">
    {% endif %}
    <p class="mt-5">{{ listing.listing_description }}</p>
      {% if listing.listing_current_price < listing.listing_starting_price or listing.listing_current_price == None %}
          <h3 class="mt-2"><u>${{ listing.listing_starting_price }}</u></h3>
      {% else %}
          <h3 class="mt-2"><u>${{ listing.listing_current_price }}</u></h3>
      {% endif %}
    </div>
  </div>
  <div class="container-fluid">
  
    {% if user.is_authenticated %}
        {% if listing in user_watchlist %}
            <p>This listing is already in your watchlist.</p>
        {% else %}
            <form method="post" action="{% url 'watchlist_btn' listing.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary mt-2">Add to Watchlist</button>
            </form>
        {% endif %}
    {% else %}
        <h3><a class="btn btn-primary mt-2" href="{% url 'login' %}">Sign in to manage your watchlist</a></h3>
    {% endif %}

  </div>
      <div class="container-fluid">

      {% if listing.seller == user %}
        <a href="{% url 'close_auction' listing_id %}"><h5 class="btn btn-primary mt-2 mb-4">Close Auction</h5></a>
      {% endif %}
      
        
     
    
  


        {% if messages %}
          <ul class="messages h6 list-unstyled">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>


  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h3 class="text-center mb-4"><u>Place Your Bids</u></h3>

        {% if user.is_authenticated %}
          <form method="post" action="{% url 'place_bid' listing.id %}" class="form-inline">
            {% csrf_token %}
            <label for="id_buyer_bid">Your Bid:</label>
            <input type="number" name="buyer_bid" id="id_buyer_bid" step="0.01" required>
            <small class="form-text text-danger">
                {% if form.buyer_bid.errors %}
                  {{ form.buyer_bid.errors.0 }}
                {% endif %}
            </small>
            <button class="btn btn-primary ml-2" type="submit">Place Bid</button>
          </form>
        {% else %}
          <h3 class="text-center"><a href="{% url 'login' %}">Sign in to make a bid</a></h3>
        {% endif %}
          
              {% if bids %}
                  <h3><u>Total Bids: {{ bids.count }}</u></h3>
              {% else %}
                  <h3>No Bids Yet</h3>
              {% endif %}

              <ul>
                  {% for bid in bids reversed %}
                      <li>{{ bid.user.username }} - ${{ bid.buyer_bid }} - Bid Made at {{ bid.created_at }}</li>
                  {% endfor %}
              </ul>
    </div>   
    <div class="col">
      <h3 class="text-center"><u>Comments:</u></h3>
        {% if user.is_authenticated %}

        <h3><u>Add a Comment:</u></h3>
        <form method="post" action="{% url 'add_comment' listing.id %}" class="form-inline mb-2">
          {% csrf_token %}
          <input type="text" name="comment_contents" id="id_comment_contents" class="form-control w-50" required>
          <button class="btn btn-primary ml-2" type="submit">Add Comment</button>
        </form>
        {% endif %}


        <ol type="1">
          {% for comment in comments reversed %}
            <li>{{ comment.user.username }} - {{ comment.comment_contents }} - {{ comment.created_at }}</li>
            {% endfor %}
        </ol>
    </div>   
  </div>
</div>
{% endblock %}