{% extends 'auctions/layout.html' %}

{% block body %}
<div class="container-fluid text-center mx-auto">
  <div class="row">
      <h1 class="col">{{ listing.listing_title }}</h1>
  </div>
  <div class="col mt-5 mx-auto text-center content">
    {% if listing.listing_image_url == None %}
      <img src="https://www.freeiconspng.com/uploads/no-image-icon-6.png" style="width: 350px; height: 200px; align-items: center;" class="card-img-top img-fluid" alt="">
    {% else %}
      <img src="{{ listing.listing_image_url }}" style="width: 350px; height: 200px; align-items: center;" class="card-img-top img-fluid" alt="">
    {% endif %}
    <p>{{ listing.listing_description }}</p>
      {% if listing.listing_current_price < listing.listing_starting_price or listing.listing_current_price == None %}
          <h3>${{ listing.listing_starting_price }}</h3>
      {% else %}
          <h3>${{ listing.listing_current_price }}</h3>
      {% endif %}
    </div>
  </div>
  <div class="container-fluid">
  
      {% if user.is_authenticated %}
        {% if listing in user_watchlist %}
            <p>This listing is already in your watchlist.</p>
        {% else %}
            <a href="{% url 'watchlist_btn' listing_id %}">Add to Watchlist</a>
        {% endif %}
      {% else %}
            <h3><a href="{% url 'login' %}">Sign in to make a bid</a></h3>
      {% endif %}
  </div>

      <div class="container-fluid">
        <h5>Delete</h5>
      
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'place_bid' listing.id %}">
              {% csrf_token %}
                <label for="id_buyer_bid">Your Bid:</label>
                <input type="number" name="buyer_bid" id="id_buyer_bid" step="0.01" required>
                <button type="submit">Place Bid</button>
            </form>
        {% else %}
            <h3><a href="{% url 'login' %}">Sign in to make a bid</a></h3>
        {% endif %}
     
    
  


        {% if messages %}
          <ul class="messages h6 list-unstyled">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
<!-- Display existing bids if needed -->
<h3>Existing Bids:</h3>
  {% if bids %}
      <h5>Total Bids: {{ bids.count }}</h5>
  {% else %}
      <h5>No Bids Yet</h5>
  {% endif %}
<ul>
    {% for bid in bids reversed %}
        <li>{{ bid.user.username }} - ${{ bid.buyer_bid }} - Bid Made at {{ bid.created_at }}</li>
    {% endfor %}
</ul>


{% endblock %}